@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
  'box-shadow-color': rgba(0, 0, 0, 0.3),
  'lightYellowGradient': rgba(239, 214, 172, 1),
  'darkMaroonGradient': rgba(67, 37, 52, 1),
  'peachColor': rgba(212, 113, 113, 1)
);

$fontSizes: (
  'h1': 72px,
  'h2': 36px,
  'h3': 24px
);

@function getColor($colorName) {
  @return map-get($colors, $colorName);
}

@function getFontSize($font) {
  @return map-get($fontSizes, $font);
}

/* Extendable classes */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Extendable classes end */

* {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
}

header {
  background: linear-gradient(
    0deg,
    getColor(lightYellowGradient) 0%,
    getColor(darkMaroonGradient) 100%
  );
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  .img-logo {
    width: 75px;
  }

  .navbar-brand {
    position: relative;
    height: 50px;
    z-index: 10;
    width: 75px;
    cursor: pointer;
    .hamburger-line {
      width: 75px;
      height: 2px;
      border-radius: 10px;
      background-color: whitesmoke;
      display: block;
      transition: all ease 0.4s;
      position: absolute;
    }
    .hamburger-line.top {
      top: 18%;
    }
    .hamburger-line.bottom {
      width: 40px;
      top: 48%;
    }

    .hamburger-line.top.open,
    .hamburger-line.bottom.open {
      transition: all ease 0.4s;
      transform: rotate(45deg);
      width: 50px;
      top: 48%;
    }
    .hamburger-line.bottom.open {
      transform: rotate(-45deg);
    }
  }

  .brand-fixed {
    position: fixed;
    top: 0;
    margin-top: 1rem;
  }
  .navbar-nav {
    max-width: 50%;
  }
  #sub-to-home {
    transform: scale(1);
    transition: 0.4s;
  }
  #sub-to-home:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.5s;

  .overlay-content {
    position: relative;
    top: 25%;
    width: 300px;
    margin: 30px auto 0 auto;
    @extend .flex-column-center;
  }

  .overlay-link {
    width: 100%;
    padding: 8px;
    position: relative;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.45s;
  }
  .overlay-link::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
  }
  .overlay-link:hover::before {
    content: '';
    width: 100%;
    transition: ease 0.5s;
  }
  .overlay-link:hover,
  .overlay-link:focus {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .overlay-link {
      font-size: 20px;
    }
  }
}

.filter-options {
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  .form-control {
    width: 200px;
    margin-right: 10px;
  }
  .btn {
    width: 150px;
  }
}

.main-section {
  overflow: hidden;
  @extend .flex-column-center;

  #animated-submarine {
    width: 500px;
    cursor: pointer;
    animation: makeMeDizzy linear 5s infinite;
  }

  @media (max-width: 750px) {
    #animated-submarine {
      width: 250px;
    }
  }

  h1 {
    text-align: center;
    font-size: getFontSize(h1);
    color: black;
  }
}

aside {
  margin: 3rem 3rem 0 0;
  padding: 3rem;
  padding-top: 0;
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  width: 25%;
  height: fit-content;
  @extend .flex-column-center;
  .img-fluid {
    width: 150px;
    display: block;
    margin: auto;
  }
  .btn-group {
    .btn {
      margin: 10px;
    }
  }
  h4.text-center {
    font-size: 18px;
  }
}

footer {
  box-shadow: 0 0 3px 0 getColor(box-shadow-color);
  margin-top: 2rem;
  p {
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
    background-color: darken(white, 12%);
    color: black;
  }
}

//LOGIN
#loginRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
}

.login-register h1 {
  margin: 0;
  padding: 30px;
  font-size: 30px;
}

.login-register a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.henlo {
  position: relative;
  overflow: hidden;
  width: 750px;
	max-width: 100%;
	min-height: 480px;
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.form-container input {
  outline: none;
  padding: 10px 30px;
  margin-bottom: 17px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddddddd2;
  font-size: 14px;
}

.form-container input:focus {
  box-shadow: 0px 0px 1px 2px #a489785e;
  transition: 0.2s ease;
}

.login-register button {
  border-radius: 5px;
  border: 1px solid #343a40e0;
  background: #343a40e0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button.ghost {
  background: transparent;
  border-color: white;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-wrapper {
  position: relative;
  background: #343a40e0;
  background: linear-gradient(163deg, rgba(102,102,102,1) 0%, rgba(52,58,64,1) 42%);
  color: white;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-register {
  right: 0;
  transform: translateX(0);
}

.overlay-login {
  transform: translateX(-20%);
}

.login-register.panel-active .login-container {
  transform: translateX(100%);
}

.login-register.panel-active .overlay-container {
  transform: translateX(-100%);
}

.login-register.panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.login-register.panel-active .overlay-wrapper {
  transform: translateX(50%);
}

.login-register.panel-active .overlay-login {
  transform: translateX(0);
}

.login-register.panel-active .overlay-register {
  transform: translateX(20%);
}

@media only screen and (max-width: 700px) {
  #loginRegister {
    margin: 0;
  }

  .henlo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  .login-register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .form-container {
    position: relative;
    height: 50%;
  }

  .form-container form {
    width: 100%;
    background-color: white;
  }

  .form-container input {
    margin-bottom: 10px;
  }

  .overlay-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 100;
    transition: transform 0.6s ease-in-out;
  }

  .overlay-wrapper {
    position: relative;
    color: #fff;
    background: #343a40e0;
    background: linear-gradient(163deg, rgba(102,102,102,1) 0%, rgba(52,58,64,1) 42%);
    width: 100%;
    height: 200%;
    top: -100%;
    left: unset;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    top: unset;
    width: 100%;
    height: 50%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }

  .register-container {
    opacity: 0;
    z-index: 1;
    transform: translateY(-100%);
    bottom: unset;
    width: unset;
  }

  .login-container {
    left: unset;
    width: unset;
    z-index: 2;
  }

  .overlay-register {
    bottom: 0;
    transform: translateY(0);
  }

  .overlay-login {
    transform: translateY(-20%);
  }

  .login-register.panel-active .login-container {
    transform: translateY(100%);
  }

  .login-register.panel-active .overlay-container {
    transform: translateY(-100%);
  }

  .login-register.panel-active .register-container {
    transform: translateY(0);
    opacity: 1;
    z-index: 5;
  }

  .login-register.panel-active .overlay-wrapper {
    transform: translateY(50%);
  }

  .login-register.panel-active .overlay-login {
    transform: translateY(0);
  }

  .login-register.panel-active .overlay-register {
    transform: translateY(20%);
  }
}

//CONTACT FORM
.main-contact {
  height: 450px;
  max-width: 900px;
  margin: 8% auto;
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

.main-contact .contact-form {
  width: 65%;
  float: left;
}

.contact-form form {
  width: 85%;
  margin: auto;
}

.contact-form h1 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: #343a40;
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 17px 0;
  padding: 10px 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddddddd2;
  font-size: 14px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  box-shadow: 0px 0px 1px 2px #a489785e;
  transition: 0.2s ease;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  font-size: 12px;
}

.contact-form-btn {
  border-radius: 5px;
  border: 1px solid #343a40e0;
  background: #343a40e0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 40px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.main-contact .contact-address {
  float: right;
  width: 35%;
  height: 450px;
  background: rgb(102,102,102);
  background: linear-gradient(163deg, rgba(102,102,102,1) 0%, rgba(52,58,64,1) 42%);
}

.contact-address .content {
  color: rgb(221, 221, 221);
  padding: 30px;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 60px;
}

.content p {
  padding-top: 20px;
  font-size: 14px;
}


@media only screen and (max-width: 600px) {
  .main-contact {
    height: unset;   
    display: flex;
    flex-direction: column-reverse;
  }

  .main-contact .contact-form {
    width: 100%;
    float: unset;
  }

  .main-contact .contact-address {
    float: unset;
    width: 100%;
    height: 140px;
  }

  .contact-address .content {
    padding: 23px;
    text-align: center;
  }

  .content h1 {
    display: none;
  }

  .content p {
    padding: unset;
  }
  
}

.v-none {
  margin-left: calc(788%);
}

@keyframes oscilate {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-200px) rotate(255deg);
  }

  50% {
    transform: translate(-700px) rotate(255deg);
  }

  75% {
    transform: translate(-200px) rotate(255deg);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes makeMeDizzy {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
