@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Extendable classes */
.flex-column-center, .overlay .overlay-content, .main-section, aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Extendable classes end */
* {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
}

header {
  background: -webkit-gradient(linear, left bottom, left top, from(#efd6ac), to(#432534));
  background: linear-gradient(0deg, #efd6ac 0%, #432534 100%);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

header .img-logo {
  width: 75px;
}

header .navbar-brand {
  position: relative;
  height: 50px;
  z-index: 10;
  width: 75px;
  cursor: pointer;
}

header .navbar-brand .hamburger-line {
  width: 75px;
  height: 2px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: block;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  position: absolute;
}

header .navbar-brand .hamburger-line.top {
  top: 18%;
}

header .navbar-brand .hamburger-line.bottom {
  width: 40px;
  top: 48%;
}

header .navbar-brand .hamburger-line.top.open,
header .navbar-brand .hamburger-line.bottom.open {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
  top: 48%;
}

header .navbar-brand .hamburger-line.bottom.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .brand-fixed {
  position: fixed;
  top: 0;
  margin-top: 1rem;
}

header .navbar-nav {
  max-width: 50%;
}

header #sub-to-home {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #sub-to-home:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 300px;
  margin: 30px auto 0 auto;
}

.overlay .overlay-link {
  width: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.overlay .overlay-link::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.overlay .overlay-link:hover::before {
  content: '';
  width: 100%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.overlay .overlay-link:hover,
.overlay .overlay-link:focus {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .overlay .overlay-link {
    font-size: 20px;
  }
}

.filter-options {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.filter-options .form-control {
  width: 200px;
  margin-right: 10px;
}

.filter-options .btn {
  width: 150px;
}

.main-section {
  overflow: hidden;
}

.main-section #animated-submarine {
  width: 500px;
  cursor: pointer;
  -webkit-animation: makeMeDizzy linear 5s infinite;
          animation: makeMeDizzy linear 5s infinite;
}

@media (max-width: 750px) {
  .main-section #animated-submarine {
    width: 250px;
  }
}

.main-section h1 {
  text-align: center;
  font-size: 72px;
  color: black;
}

aside {
  margin: 3rem 3rem 0 0;
  padding: 3rem;
  padding-top: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

aside .img-fluid {
  width: 150px;
  display: block;
  margin: auto;
}

aside .btn-group .btn {
  margin: 10px;
}

aside h4.text-center {
  font-size: 18px;
}

footer {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

footer p {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0;
  background-color: #e0e0e0;
  color: black;
}

#loginRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
}

.login-register h1 {
  margin: 0;
  padding: 30px;
  font-size: 30px;
}

.login-register a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.henlo {
  position: relative;
  overflow: hidden;
  width: 750px;
  max-width: 100%;
  min-height: 480px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: white;
}

.form-container input {
  outline: none;
  padding: 10px 30px;
  margin-bottom: 17px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddddddd2;
  font-size: 14px;
}

.form-container input:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #a489785e;
          box-shadow: 0px 0px 1px 2px #a489785e;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.login-register button {
  border-radius: 5px;
  border: 1px solid #343a40e0;
  background: #343a40e0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

button.ghost {
  background: transparent;
  border-color: white;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-wrapper {
  position: relative;
  background: #343a40e0;
  background: linear-gradient(163deg, #666666 0%, #343a40 42%);
  color: white;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-register {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-login {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.login-register.panel-active .login-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.login-register.panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.login-register.panel-active .register-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.login-register.panel-active .overlay-wrapper {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.login-register.panel-active .overlay-login {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.login-register.panel-active .overlay-register {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@media only screen and (max-width: 700px) {
  #loginRegister {
    margin: 0;
  }
  .henlo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  .login-register {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form-container {
    position: relative;
    height: 50%;
  }
  .form-container form {
    width: 100%;
    background-color: white;
  }
  .form-container input {
    margin-bottom: 10px;
  }
  .overlay-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .overlay-wrapper {
    position: relative;
    color: #fff;
    background: #343a40e0;
    background: linear-gradient(163deg, #666666 0%, #343a40 42%);
    width: 100%;
    height: 200%;
    top: -100%;
    left: unset;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .overlay-panel {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    left: 0;
    top: unset;
    width: 100%;
    height: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .register-container {
    opacity: 0;
    z-index: 1;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    bottom: unset;
    width: unset;
  }
  .login-container {
    left: unset;
    width: unset;
    z-index: 2;
  }
  .overlay-register {
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .overlay-login {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .login-register.panel-active .login-container {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .login-register.panel-active .overlay-container {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .login-register.panel-active .register-container {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 5;
  }
  .login-register.panel-active .overlay-wrapper {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .login-register.panel-active .overlay-login {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .login-register.panel-active .overlay-register {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

.main-contact {
  height: 450px;
  max-width: 900px;
  margin: 8% auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

.main-contact .contact-form {
  width: 65%;
  float: left;
}

.contact-form form {
  width: 85%;
  margin: auto;
}

.contact-form h1 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: #343a40;
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0 17px 0;
  padding: 10px 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddddddd2;
  font-size: 14px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  -webkit-box-shadow: 0px 0px 1px 2px #a489785e;
          box-shadow: 0px 0px 1px 2px #a489785e;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact-form form input::-webkit-input-placeholder,
.contact-form form textarea::-webkit-input-placeholder {
  font-size: 12px;
}

.contact-form form input:-ms-input-placeholder,
.contact-form form textarea:-ms-input-placeholder {
  font-size: 12px;
}

.contact-form form input::-ms-input-placeholder,
.contact-form form textarea::-ms-input-placeholder {
  font-size: 12px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  font-size: 12px;
}

.contact-form-btn {
  border-radius: 5px;
  border: 1px solid #343a40e0;
  background: #343a40e0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 40px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.main-contact .contact-address {
  float: right;
  width: 35%;
  height: 450px;
  background: #666666;
  background: linear-gradient(163deg, #666666 0%, #343a40 42%);
}

.contact-address .content {
  color: #dddddd;
  padding: 30px;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 60px;
}

.content p {
  padding-top: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .main-contact {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-contact .contact-form {
    width: 100%;
    float: unset;
  }
  .main-contact .contact-address {
    float: unset;
    width: 100%;
    height: 140px;
  }
  .contact-address .content {
    padding: 23px;
    text-align: center;
  }
  .content h1 {
    display: none;
  }
  .content p {
    padding: unset;
  }
}

.v-none {
  margin-left: calc(788%);
}

@-webkit-keyframes oscilate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  50% {
    -webkit-transform: translate(-700px) rotate(255deg);
            transform: translate(-700px) rotate(255deg);
  }
  75% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes oscilate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  50% {
    -webkit-transform: translate(-700px) rotate(255deg);
            transform: translate(-700px) rotate(255deg);
  }
  75% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes makeMeDizzy {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes makeMeDizzy {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */